//
// Colors
//
$ak-green: #B1D78A;
$ak-blue: #00416A;

// just cuz I wanted to play with cssnext stuff
:root {
  --ak-green: #B1D78A;
}

$ak-blue0: #00416A;
$ak-blue1: #46A8C6;
$ak-blue2: #0F7BB6;
$ak-blue3: #7FA9C8;


// Gradients you can use

@mixin ak-gradient-0 {
	background-color: $ak-blue;
	@include background-image(linear-gradient($ak-green 0%, $ak-blue 100%));
}

@mixin ak-gradient-1 {
	background-color: $ak-blue2;
	@include background-image(linear-gradient($ak-blue1 0%, $ak-blue2 100%));
}

@mixin ak-gradient-2 {
	background-color: $ak-blue0;
	@include background-image(linear-gradient($ak-blue3 0%, $ak-blue0 100%));
}

@mixin ak-gradient-3 {
	background-color: $ak-blue1;
	@include background-image(linear-gradient($ak-blue3 0%, $ak-blue1 100%));
}

@mixin ak-gradient-4 {
	background-color: $ak-green;
	@include background-image(linear-gradient($ak-blue3 0%, $ak-green 100%));
}

// for $i from 1  through 4 {
// 	.ak-gradient-#{$i} {
// 		@include ak-gradient-#{$i};
// 	}
// }

.ak-gradient-0 { @include ak-gradient-0; }
.ak-gradient-1 { @include ak-gradient-1; }
.ak-gradient-2 { @include ak-gradient-2; }
.ak-gradient-3 { @include ak-gradient-3; }
.ak-gradient-4 { @include ak-gradient-4; }
