/*
 *
 * Photo Block
 *
 */

.photo {

	position: relative;
	@include size(320px);
	@include perspective(1000);
	
	// set this gradient by random in react
	&__wrap {
		@include size(100%);
		@include transform-style(preserve-3d);
		transition: all 1s linear;
	}

	&__card {
		position: absolute;
		@include size(100%);
		backface-visibility: hidden;
		
		// COLOR OPTIONS
		// mix-blend-mode: multiply;
		// mix-blend-mode: hard-light;
		// mix-blend-mode: overlay;
		// mix-blend-mode: screen;
		// mix-blend-mode: luminosity;
		// THESE BREAK THE ANIMATION
		@include filter(grayscale(100%));

		&--back {
			display: block;
			transform: rotateY(180deg);
		}
	}
}