/*
 *
 * Block View
 *
 */

// WHAT FONTS ARE WE USING
// $roboto-cond [700]

.block {
	
	// the whole view
	&__view {
		background-color: $ak-green;
		align-items: flex-start;
		justify-content: center;
	}
	
	// this wraps all the grid blocks
	&__wrapper {
		display: flex;
		height: 80vh;
		align-items: center;
	}
	
	// the blocks themselves
	flex: 1 1 33.33333%;
	display: flex;
	flex-direction: column;
	
	// the alternate w/ color
	&--colors {
		flex-direction: column-reverse;
		
		.info {
			&::before { display: none; }
			&::after { display: block; }
		}		

		.photo__src {
			mix-blend-mode: luminosity;
		}
	}

	&:hover {
		.photo__wrap {
			transform: rotateY(180deg);
			box-shadow: 0 5px 5px rgba(0,0,0,0.1);
		}
	}
}

@import 'module.block.photo';
@import 'module.block.info';