/*
 *
 * Alaska Footer & Logo
 *
 */

footer {
	@include position(fixed, null 0 0 0);
	padding: 0.5em;
	display: flex;
	align-items: center;
	height: 20vh;
}

// flex: grow shrink basis;

.footer {
	
	&__tagline {
		flex: 5 1 50vw;
		text-align: right;
		padding-right: 0.5em;
		font-family: $roboto-cond;
		font-weight: 400;
		font-size: 2em;
		color: white;
		@include bp-desktop { padding-right: 1em; }
	}

	&__logo {
		flex: 0 1 15vh;
		// min-width: 100px;
		// max-height: 10vh;		
		svg {
			width: auto;
			height: auto;
		}
	}
}