/*
 *
 * Tweet View
 *
 */

.tweet {
	// view wrapper
	&__view {
		@include size(100vw 100vh);
		position: relative;
		
		@include display(flex);
		flex-direction: column;
		justify-content: center;
		padding: 0 3em 3em;
		
		border: 1px solid red;
		
		// @include ak-gradient-1;
		background-color: blue;
		// text & display stuff
		color: white;
		font-size: 150%;
	}



	// user avatar section
	&__user-wrap{
		// background-color: white;
		// background-color: $ak-green;
		display: flex;
		align-items: center;
		margin-bottom: 1.5em;

	}
	&__username {
		line-height: 1;
	  padding: 0.5em 1em .5em .5em;
	  background-color: pink;
	  border-top-right-radius: 0.3em;
	  border-bottom-right-radius: .3em;

	  background-color: white;
	  color: $ak-green;

	  font-size: 3em;
	  font-weight: 900;
	  font-family: $roboto-cond;
	}
	
	&__avi-wrap {
		@include size(256px);
		border: 5px solid white;
		border-radius: 5%;
	}

	&__avi {
		@include position(absolute, null);
		@include size(100%);
		object-fit: cover;		
	}

	&__text {
		font-family: $roboto;
		font-size: 3em;
		font-weight: 100;

		margin-bottom: 0.5em;
		max-width: 25em;
	}

	&__hashtags {
		font-family: $roboto;
		font-size: 2em;
		font-weight: 700;
	}

}
