/*
 *
 * Block View
 *
 */

// $roboto-cond [700]



.block {
	
	// the whole view
	&__view {
		background-color: $ak-green;
		align-items: flex-start;
		justify-content: center;
	}
	
	// this wraps all the grid blocks
	&__wrapper {
		display: flex;
		height: 80vh;
		align-items: center;
	}
	
	// the blocks themselves
	flex: 1 1 33.33333%;
	display: flex;
	flex-direction: column;
	
	// the alternate w/ color
	&--colors {
		flex-direction: column-reverse;
		
		.info {
			&::before { display: none; }
			&::after { display: block; }
		}		

		.photo__src {
			mix-blend-mode: luminosity;
		}
	}

	&:hover {
		.photo__wrap {
			transform: rotateY(180deg);
			box-shadow: 0 5px 5px rgba(0,0,0,0.1);
		}
	}
}

@import 'module.block.photo';
@import 'module.block.info';


// .block:hover {
// 	.photo__wrap {
// 		transform: rotateY(180deg);
// 		box-shadow: 0 5px 5px rgba(0,0,0,0.1);
// 	}
// }

.block--photo.photo {
	// position: relative;
	// @include size(320px);
	// @include perspective(1000);
	
	// &:hover .photo__wrap {
	// 	transform: rotateY(180deg);
	// 	box-shadow: -5px 5px 5px #bbb;
	// 	box-shadow: 0 5px 5px rgba(0,0,0,0.1);
	// }
	
	// .photo__wrap {
	// 	@include size(100%);
	// 	@include transform-style(preserve-3d);
	// 	transition: all 1s linear;
	// }

	// .photo__card {
	// 	position: absolute;
	// 	@include size(100%);
	// 	backface-visibility: hidden;

	// 	&.photo__card--back {
	// 		display: block;
	// 		transform: rotateY(180deg);
	// 	}
	// }


}

