/*
 *
 * Photo Block
 *
 */

.photo__wrap {
	@include ak-gradient-0;	
}

.photo__src {
	
	/*
	 * color
	 */

	mix-blend-mode: multiply;
	mix-blend-mode: hard-light;
	mix-blend-mode: overlay;
	mix-blend-mode: screen;
	mix-blend-mode: luminosity;
	// @include filter: greyscale(10%);
	@include filter(grayscale(100%));
	

	/*
	 * Sizings
	 */

	// @include position(absolute, 0);
	@include size(100%);
	// object-fit: cover;
}