// Tools
@import 'node_modules/bourbon/app/assets/stylesheets/bourbon';

// Base
@import 'base.reset';
@import 'base.config';
@import 'base.mixins';

// Modules
@import 'module.tweet';
@import 'module.footer';
@import 'module.shame';


// top level
.view {
	@include size(100vw 100vh);
	display: flex;
	
	// for the tweet
	&--tweet {
		@include size(100vw 100vh);
		position: relative;
		
		// @include display(flex);
		flex-direction: column;
		justify-content: center;
		padding: 0 3em 3em;
		
		border: 1px solid red;
		
		@include ak-gradient-1;
		
		// text & display stuff
		color: white;
		font-size: 150%;
	}
	
	// for the grid
	&--grid {
		align-items: center;
		justify-content: center;
	}
	
	// @include ak-gradient-4;
	background-color: pink;
}




.block {
	
	// this wraps all the grid blocks
	&__wrapper {
		display: flex;
	}
	
	// the blocks themselves
	flex: 1 1 33.33333%;
	display: flex;
	flex-direction: column;

	&:nth-child(even) {
		color: blue;
		flex-direction: column-reverse;
	}

	&--info {
		flex-grow: 1.1;
	}

}




@import 'module.block.photo';


$block-avi-size: 3em;
$block-arrow-size: $block-avi-size/2;
$arrow-size: 1em;

.info {
	background-color: white;
	// background-color: $ak-blue1;
	padding: 0.5rem 10%;

	&::before {
		@include arrow-up($size: $block-arrow-size, $color: white);

		@include position(absolute, 0 null null 10%);
		@include transform(translateY(-100%));
	}
	
	&__userblock {
		display: flex;
		align-items: center;
	}

	&__avi {
		@include size(3em);
		border-radius: 50%;
		overflow: hidden;
	}

	&__username {
		font-size: 1.5em;
		color: $ak-green;
		font-weight: 700;
		font-family: $roboto-cond;
		margin-left: 0.3em;
	}

}